body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.coding-start {
    line-height: 2.5;
}

section h1 {
    font-size: 250%;
   
}

.coding-p{
    max-width: 30%;
    padding-left: 600px;
}

.btn-start {
    background-color: #8e65e0;
    border-radius: 4px;
    color: white;
}